html {
  background-color: rgba(251, 220, 183, 0.1);
  height: 750px;
  margin: 15%;
  overflow: hidden auto;
  width: 900px;
}
body {
  background-color: rgba(249, 212, 204, 0.7);
  border: 1px solid grey;
  border-radius: 20px;
  color: #39375b;
  font-family: "Montserrat", sans-serif;
  height: 675px;
  max-width: 400px;
  min-width: 400px;
  overflow: hidden auto;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: fixed;
  top: 20px;
}
h1 {
  font-size: 44px;
  padding: 10px;
  padding-top: 45px;
  padding-bottom: 5px;
  text-align: center;
}
h2 {
  display: block;
  margin: 0 auto;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
  text-transform: none;
  color: #39375b;
}
img {
  width: 40px;
  height: 38px;
}
.btn {
  background: transparent;
  border: 1px solid #39375b;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #39375b;
  color: #39375b;
  font-size: 10px;
  padding: 5px;
}
.cf-links {
  font-size: 12px;
  position: relative;
  left: 215px;
  top: -100px;
}
.cf-links .active {
  cursor: default;
  color: gray;
  background-color: transparent;
}
.coded-by {
  font-size: 12px;
  padding-top: 20px;
}
.current-temp {
  font-size: 80px;
  padding: 12px;
  text-align: center;
}
.date-time {
  font-size: 12px;
}
.day-col {
  padding-left: 30px;
  text-align: left;
  width: 125px;
}
.day-description {
  display: block;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}
.forcast-grid {
  padding: 5px;
}
.form-control {
  background: transparent;
  border: 1px solid #39375b;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #39375b;
  font-size: 14px;
  text-align: right;
  width: 360px;
}
.hi-col {
  padding-right: 30px;
  text-align: right;
  width: 50px;
}
.icon-col {
  padding-left: 0px;
  text-align: center;
  width: 165px;
}
.row {
  max-width: 375px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.sun-moon {
  animation-name: sunset;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  background-color: rgba(253, 251, 99, 0.3);
  border: 125px solid #fdffbc;
  border-radius: 50%;
  display: block;
  height: 125px;
  margin: 0 auto;
  position: absolute;
  top: -10px;
  left: 75px;
  z-index: -1;
}
@keyframes sunset {
  0% {
    top: -90px;
  }
  100% {
    top: 500px;
  }
}
#current-description {
  text-transform: capitalize;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(57, 55, 91, 0.2);
  color: #39375b;
  transition: all 200ms ease-in-out;
}
a:hover {
  cursor: pointer;
  background-color: rgba(57, 55, 91, 0.2);
  color: #39375b;
  transition: all 200ms ease-in-out;
}
